<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Book Library</title>
</head>

<body>
    <section class="mainSection">
        <div class="line">
            <a href="/list">
                <p class="title">Books for everyone</p>
            </a>
        </div>
    </section>

    <section class="buttonSection">
        <div class="container">
            <div class="gallery-container w-3 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="img_8.jpg" alt="Tree">
                    </div>
                    <div class="text">The Tree of Forgetfulness</div>
                </div>
            </div>
            <div class="gallery-container w-3 h-3">
                <div class="gallery-item">
                    <div class="image">
                        <img src="img_2.jpg" alt="Feet">
                    </div>
                    <div class="text">Five Feet Apart</div>
                </div>
            </div>
            <div class="gallery-container h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="img_3.jpg" alt="Mermaid">
                    </div>
                    <div class="text">The little Mermaid</div>
                </div>
            </div>
            <div class="gallery-container w-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="img_4.jpg" alt="World">
                    </div>
                    <div class="text">The possible World</div>
                </div>
            </div>
            <div class="gallery-container w-4 h-1">
                <div class="gallery-item">
                    <div class="image">
                        <img src="img_7.jpeg" alt="Stoicism">
                    </div>
                    <div class="text">How to think like a Roman Emperor</div>
                </div>
            </div>
            <div class="gallery-container">
                <div class="gallery-item">
                    <div class="image">
                        <img src="img_6.jpg" alt="Arsonist">
                    </div>
                    <div class="text">The Arsonist</div>
                </div>
            </div>
        </div>
        <div class="insert">
            <a href="/books/new"><button>Add Book to the Library</button></a>
        </div>
    </section>

    <footer>
        <p>Dušica Žeravic 2020. All rights reserved.</p>
    </footer>
</body>

</html>