@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  box-sizing: border-box; 
}

a:hover {
  text-decoration: none;
}

/* Home Page */
html {
  height: 100%; 
  width: 100%;
  font-family: 'Marcellus SC', serif;

}

body {
  padding: 0;
  position: relative;
}

.mainSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("./images/books.jpg");
  background-position: center;
  background-size: cover; 
  opacity: 0.8;
}

.title {
  opacity: 1;
  white-space: nowrap;
  padding-top: 100px;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 300%;
  letter-spacing: 5px;
  color: rgba(10, 10, 10, 0.7);
  font-size: 350%;
  font-weight: bold;
  text-shadow: 2px 8px 6px rgba(17, 17, 17, 0.2), 0px -10px 50px rgba(255,255,255,0.3);
  animation: animated-text 2s steps(29, end) 1s 1 normal;
}

.buttonSection {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonSection .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 90px 140px;
  grid-gap: 10px;
  grid-auto-flow: dense;
  width: 70%;
  margin-bottom: 40px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  opacity: 0.8;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
  opacity: 1;
  transform: scale(1.5);
}

.gallery-item .text {
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  pointer-events: none;
  z-index: 4;
  transition: .3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text {
  opacity: 1;
  animation: move-down .3s linear;
  padding: 1em;
  width: 100%;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
} 

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

.insert button {
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  background-color: rgba(133, 131, 131, 0.7);
  color: rgb(238, 235, 235);
  font-weight: bold;
  font-size: 100%;
  transition: .3s ease-in-out;
}


.insert button:hover {
  outline: none;
  color: #fff;
  background-color: rgb(98, 98, 98);
  transform: scale(1.1);
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  text-align: center;
  font-size: 100%;
}

/* Text animation */
@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}

@keyframes animated-text {
  from {
    width: 0; }
  to {
    width: 80%; 
  } 
  }

/* Form style */
.formSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.671), rgba(131, 118, 128, 0.73)),
  url("./images/form.jpg");
  background-position: center;
  background-size: cover;
  color: black;
}

.formSection .container {
  width: 60%; 
}

.formSection .container h4 {
  font-size: 200%;
  padding: 70px 0 60px 0;
  text-align: center;
  letter-spacing: 2px;
  color: rgba(39, 39, 39, 0.7); 
  text-transform: uppercase;
}

.formSection form div {
  position: relative;
} 

.formSection form div label {
  position: absolute;
  top: 5px;
  left: 5px;
  transition: .5s;
  pointer-events: none;
  color: rgba(39, 39, 39, 0.7);
}

.formSection button,
.formSection a {
  width: 20%;
  float: right;
  margin: 0 auto;
}

.formSection button {
  margin-left: 10px;
  width: 30%;
}

.formSection .edit {
  width: 30%;
  margin-right: 10px;
}

input {
  margin-bottom: 45px;
}

.formSection input:focus ~ label,
.formSection textarea:focus ~ label,
.formSection input:valid ~ label,
.formSection textarea:valid ~ label {
  top: -12px;
  left: 5px;
  color: #057c91;
  font-size: 15px;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border: none;
} 

/* List of books */

.bookList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.bookList .text {
  text-align: center;
  margin: 40px 0 30px 0;
  font-size: 350%;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: rgb(97, 96, 96);
  text-shadow: 2px 8px 6px rgba(17, 17, 17, 0.2), 0px -10px 50px rgba(255,255,255,0.3);
  font-weight: bold;
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.text:before,
.text:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.text:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.text:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.bookList .new {
  padding: 10px 40px;
  display: inline-block;
  text-decoration: none;
  color:  rgb(241, 240, 240);
  text-transform: uppercase;
  border-radius: 30px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  outline: none;
}

.bookList .new:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(77, 139, 155);
  border-radius: 30px;
  z-index: -2;
}

.bookList .new:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(3, 142, 177);
  transition: all .3s;
  border-radius: 30px;
  z-index: -1;
}

.bookList .new:hover {
  color: rgb(233, 233, 233);
}

.bookList .new:hover::before {
  width: 100%;
}

.bookList .container {
  width: 100%;
  margin: 80px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.card {
  box-shadow: 4px 4px 17px -3px rgba(0,0,0,0.67);
  border: none;
  background-image: linear-gradient(rgba(243, 243, 243, 0.849), rgba(223, 223, 223, 0.863)), url('./images/card.jpg');
}

.card-body {
  padding: 0;
}

.card-body .left {
  float: left;
  height: 100%;
}

.card-body .left img {
  height: 100%;
}

.card-body .right {
  padding: 20px;
  text-align: center;
}

.card-title {
  color: rgb(77, 139, 155);
  font-weight: bold;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  white-space: initial;
  text-indent: 30px;
  font-size: 90%;
}

.buttons {
  margin-top: 40px;
}

.buttons button {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 150%;
  margin-left: 30px;
  transition: transform 0.5s;
  background-color: rgb(207, 205, 205);
  outline: none;
}

.buttons button:hover {
  transform: scale(1.1);
  background-color: rgb(235, 235, 235);
}

.buttons button i {
  color: rgb(156, 156, 156);
  /* color: rgb(97, 96, 96) */
}

.buttons button:hover .read i {
  color: rgb(77, 139, 155);
}

.buttons form button:hover i {
  color: rgb(180, 54, 54);
}

/* Book Section */
.bookSection {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.671), rgba(117, 105, 114, 0.73)),
  url("./images/form.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookSection .container {
  width: 70%;
  animation: fadeIn 2s;
}

.bookSection .container .left {
  float: left;
  margin-right: 80px;
}

.rightSide .buttons {
  float: right;
  margin-top: 5px;
}

.bookSection .container h2 {
  margin-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 250%;
  letter-spacing: 10px;
  color: rgb(8, 141, 158);
  text-transform: uppercase;
  font-family: 'Black Ops One', cursive;
  animation: slideIn 1s;
}

.bookSection .container h5 {
  text-align: center;
  font-size: 150%;
  padding-bottom: 40px;
}

.bookSection .container .bookDescription {
  text-indent: 50px;
  padding: 30px 0;
  font-size: 100%;
}

.bookSection a {
  color: rgb(240, 239, 239);
}

@keyframes fadeIn {
  from { 
      opacity: 0;
  }
  to   { 
     opacity: 1;
  }
}

@keyframes slideIn {
  from {
    margin-top: -30px;
  }
  to {
    margin-top: 10px;
  }
}

/* Media Queris */
@media(max-width: 500px) {
  .buttonSection .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .w-1, .w-2, .w-3, .w-4, .w-5, .w-6 {
    grid-column: span 1;
  }
}